body{
    width: 1400px;
    height: 702px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background: linear-gradient(to right bottom, rgb(155, 220, 246) 35%, rgb(93, 93, 191));
}

h1{
    margin-left: 70px;
    margin-right: 0px;
    text-align: center;
    font-size: 28px;
}

p{
    text-align: center;
    margin-left: 100px;
    font-size: 20px;
}

a{
    position: absolute;
    left: 600px;
    top: 670px;
    color: black;
    text-decoration: none;
    font-weight: bold   ;
}

img{
    position: relative;
    top: 10px;
    left: 600px;
    width: 300px;
    height: 500px;
}